<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 no-padding">
            <div class="banner">
                <img src="assets/imgs/banner.jpg">
            </div>
            <div class="col-lg-12">
                <div class="search-field">
                    <mat-form-field appearance="outline">
                        <mat-label>Location des distributions</mat-label>
                        <input matInput placeholder="Entrer une ville ou region" (keyup.enter)='getText($event)'>
                    </mat-form-field>
                    <button mat-raised-button (click)="dispayDistributionAround()">Carte</button>
                </div>
            </div>
        </div>
    <div class="row">
        <div class="col-lg-12 offset-lg-11 col-12 offset-11 offset-sm-5 mt-5">
            <div class="last-news-title">
             <h1>Les dernières actualités</h1>
        </div>
      </div>
   </div>
    <div class="row">
        <div class="col-lg-4 mt-5">
            <div class="recipe-title">
                <h2>Recettes</h2>
                <mat-divider></mat-divider>
                   <app-vegan-cards [veganInformations]="recepeeList"></app-vegan-cards>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 mt-5">
            <div class="recipe-title">
                <h2>Magasins</h2>
                <mat-divider></mat-divider>
                   <app-vegan-cards [veganInformations]="shopList"></app-vegan-cards>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 mt-5">
            <div class="recipe-title">
                <h2>Restaurants</h2>
                <mat-divider></mat-divider>
                   <app-vegan-cards [veganInformations]="restaurantList"></app-vegan-cards>
            </div>
        </div>
    </div>
</div>
