<div class="navigation-container">
  <mat-toolbar>
    <button class="button-burger" mat-icon-button [matMenuTriggerFor]="menuHeader" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
    <span>Vegan Breath</span>
    <div class="group-menu-button" *ngFor="let link of navLinks" [routerLink]="link.path"  routerLinkActive #rla="routerLinkActive"  [active]="rla.isActive" fxHide.lt-md>
      <button mat-button class="{{link.style}}" *ngIf="link.label === 'Accueil' || link.label === 'Connexion'" routerLink="link.path">{{link.label}}</button>
      <button mat-button class="{{link.style}}" [matMenuTriggerFor]="menuGreatScreen" *ngIf="link.label !== 'Accueil' && link.label !== 'Connexion'">{{link.label}}</button>
      <mat-menu class="custom-mat-menu" #menuGreatScreen="matMenu" yPosition="below">
        <button mat-menu-item [routerLink]="link.subPath" (click)= onAdd($event)>{{link.subLabel}}</button>
        <button mat-menu-item [routerLink]="link.subPath2">{{link.subLabel2}}</button>
      </mat-menu>
   </div>
      <mat-menu #menuHeader="matMenu">
        <div class="group-menu-button" *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive"  [active]="rla.isActive">
          <button mat-menu-item class="{{link.style}}" *ngIf="link.label === 'Accueil' || link.label === 'Connexion'" routerLink="link.path">{{link.label}}</button>
          <button mat-menu-item class="{{link.style}}" [matMenuTriggerFor]="menuSmallScreen" *ngIf="link.label !== 'Accueil' && link.label !== 'Connexion'">{{link.label}}</button>
        <mat-menu class="custom-mat-menu" #menuSmallScreen="matMenu" yPosition="below">
          <button mat-menu-item [routerLink]="link.subPath" (click)= onAdd($event)>{{link.subLabel}}</button>
          <button mat-menu-item [routerLink]="link.subPath2">{{link.subLabel2}}</button>
        </mat-menu>
      </div>
    </mat-menu>
  </mat-toolbar>
</div>
