<div fxLayoutAlign="center center" fxFlexFill class="main-div">

 <form [formGroup] = "formControlService.addingItemForm" (submit)="createElement()" class="formClass">
    <mat-toolbar class="toolbar-green">Ajouter {{element}}</mat-toolbar><br>
    <div  fxLayout="column" fxLayoutAlign="space-between stretch">
        <mat-form-field>
            <mat-hint>Titre*</mat-hint>
            <mat-label>Insérer un titre</mat-label>
            <input #title matInput placeholder="Placeholder" formControlName="title" (keyup)="addTitle($event)">
            <mat-error>Ce champ est obligatoire</mat-error>
          </mat-form-field>

          <mat-form-field >
            <mat-hint>Image*</mat-hint>
            <mat-label>Insérer une url</mat-label>
            <input #image matInput placeholder="Placeholder" formControlName="image" type="url" (keyup)="addImage($event)">
            <mat-error>Ce champ est obligatoire</mat-error>
            <mat-icon matSuffix>insert_photo</mat-icon>
          </mat-form-field>

         <mat-form-field >
        <mat-label>Insérer une description</mat-label>
        <textarea #description matInput formControlName="description" (keyup)="addDescription($event)"></textarea>
           <mat-error>Descrition trop courte, min 20 carat</mat-error>
        <mat-hint>Description*</mat-hint>
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="space-evenly center" fxFlex="100">
        <div fxFlex="30"></div>
        <div fxFlex="30"></div>
        <button fxFlex="10" mat-button class="green-button" (click) = "createElement()">Ajouter</button>
        <button fxFlex="10" mat-button class="red-button" (click)="discard()" color="warn">Annuler</button>
      </div>

    </div>


</form>
</div>
