/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import './material-overrides.scss';

.toolbar-green {
    color: white!important;
    background: #439C1D;

}

.green-button{
    color: white!important;
    background: #439C1D;
}


.mat-form-field-appearance-outline .mat-form-field-outline {
          color: #439C1D;
        }
.column-center {
    float: none;
    margin: auto;
}

@font-face {
    font-family: "Montserrat";
    src: url('../src/assets/fonts/Montserrat-Regular.ttf') format("ttf");
}

.ingredients-list li::marker {
    color: #439C1D;
}

mat-divider {
    background: #439C1D;
}

