html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-mat-menu .mat-menu-content {
    background: linear-gradient(99.35deg, #FFD484 50.07%, #EDEFF1 50.07%);
    
}

.custom-mat-menu .mat-menu-item {
    outline: none !important;
    color: #439C1D !important;
    font-family: 'Montserrat', sans-serif;
}
